<!-- Clients Aside -->
    <aside class="clients">
        <div class="container-shrink">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                        <img src="img/logos/ethereum.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                        <img src="img/logos/ipfs.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                        <img src="img/logos/oceanprotocol.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                        <img src="img/logos/bigchaindb.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
        
    </aside>
