<!--
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
-->




    <!-- Footer -->
    <footer class="footer footer-dark">
        <div class="container">
          <div class="row">

            <div class="col-md-3 mx-auto">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
                <img src="/img/logos/fitchain_logo_white.png" width="80px">
              </h5>

              <!-- <p>{{ site.description }}</p> -->
            </div>

            <div class="col-md-2 mx-auto">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer-header">Product</h5>
              <ul class="list-unstyled">
                <li>  <a href="/how-it-works/">How it works</a>  </li>
                <li>  <a href="#!">Discover features</a>  </li>
                <li>  <a href="#!">Technology</a>  </li>
              <!--  <li>  <a href="#!">API</a> </li> -->

              </ul>
            </div>

            <div class="col-md-2 mx-auto">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer-header">Docs</h5>

              <ul class="list-unstyled">
                <li> <a href="https://github.com/fitchain">Get Started</a> </li>
                <li> <a href="#!">User guides</a> </li>
                <li> <a href="#!">Tutorial</a> </li>
              </ul>

            </div>

            <div class="col-md-2 mx-auto">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer-header">Blogroll</h5>
              <ul class="list-unstyled">
                <li>  <a href="#!">Latest News</a>  </li>
                <li>  <a href="https://medium.com/fitchain">Tech articles</a> </li>
              </ul>
            </div>


            <div class="col-md-2 mx-auto">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer-header">Follow us</h5>

              <!-- Social buttons -->
              <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                  <a class="btn-floating btn-gplus mx-1" href="https://medium.com/fitchain">
                  <div class="fa-big">
                    <i class="fa fa-medium" > </i>
                  </div>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="btn-floating btn-tw mx-1" href="https://twitter.com/fitchain_io">
                    <div class="fa-big">
                    <i class="fa fa-twitter "> </i>
                  </div>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="btn-floating btn-gplus mx-1" href="https://github.com/fitchain">
                  <div class="fa-big">
                      <i class="fa fa-github" > </i>
                  </div>
                  </a>
                </li>

              </ul>
              <!-- Social buttons -->

              <!-- Copyright -->
              <div class="footer-copyright text-center py-3">© 2018 Copyright
                <a href="{{ site.web }}"> fitchain.io</a>

              </div>
              <!-- Copyright -->

            </div>
          </div>
        </div>
        <!-- Footer Links -->


        <!-- Call to action -->
        <!--
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
      -->
        <!-- Call to action -->




    </footer>
    <!-- Footer -->
