<!-- Header -->
<header>
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <div class="col-md-6 mx-auto">
            <div class="intro-lead-in">Build, Decentralize, Deploy.</div>
            <div class="intro-heading">Private machine learning on the blockchain</div>
            <a href="https://github.com/fitchain/docs/blob/master/tutorial.md" class="page-scroll btn btn-rounded">Get Started</a>
          </div>

        </div>
    </div>
  </div>
</header>
