<!-- Team Section -->
    <section id="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                  <h1 class="section-heading">How {{ site.codename }} works </h1>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <h3 class="section-subheading text-muted padded large-text">
                  With fitchain, data providers publish the description of the data they want to share and the data
                  science problem they need to solve
                </h3>
              </div>
              <div class="col-lg-6 text-center padded ">
                <img class="full-width" src="/img/datatemplate.svg" width="400px">
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6 "> </div>
              <div class="col-lg-6 text-center">   <img src="/img/down-arrow.svg" width="80px"> </div>
            </div>

            <div class="row">
              <div class="col-lg-6 padded">
                <img class="full-width" src="/img/algorithm.svg" width="400px">
              </div>
              <div class="col-lg-6">
                <h3 class="section-subheading text-muted padded large-text">
                  Model providers search and apply to the project they want to work on and start building a solution.
                  When done, they submit their solution to data providers
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 "></div>
              <div class="col-lg-8 text-center">
                 <img src="/img/down-arrow.svg" width="80px">
                 <h3 class="section-subheading text-muted padded large-text">
                   As a new model is trained, the <b>fitchain pod</p> creates logs of the model execution trace to a
                   blockchain-based ledger that is decentralized, tamper-proof and unstoppable.<br />
                   This is the fitchain <i>proof of training</i>, a set of cryptographic proofs that uniquely identify
                   the new model in the marketplace
                  </h3>
              </div>
              <div class="col-lg-2 "></div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center padded">
                <img class="full-width" src="/img/blockchain.svg" width="600px">
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6">
                <!-- terminal -->
                <div id="window" class="full-width">
                    <div id="toolbar">
                      <div class="top">
                        <div id="lights">
                          <div class="light red">
                            <div class="glyph">×</div>
                            <div class="shine"></div>
                            <div class="glow"></div>
                          </div>
                          <div class="light yellow">
                            <div class="glyph">-</div>
                            <div class="shine"></div>
                            <div class="glow"></div>
                          </div>
                          <div class="light green">
                            <div class="glyph">+</div>
                            <div class="shine"></div>
                            <div class="glow"></div>
                          </div>
                        </div>
                        <div id="title">
                          <div class="folder">
                            <div class="tab"></div>
                            <div class="body"></div>
                          </div>
                          {{site.codename}} - CLI
                        </div>
                        <div id="bubble">
                          <div class="shine"></div>
                          <div class="glow"></div>
                        </div>
                      </div>
                    </div>
                    <div id="body">
                      <p>
                        Welcome to fitchain-CLI <br />
                        user@127.0.0.1:~$ fitchain workspace init --name genomics_ws rJmdwXeLm <br />
                        user@127.0.0.1:~$ fitchain workspace save model.py<br />
                        user@127.0.0.1:~$ fitchain workspace run <br />
                        <div class="cursor"></div>
                      </p>
                    </div>
                    </div>
              </div>
              <div class="col-lg-6  ">
                <h3 class="section-subheading text-muted padded large-text">
                  Fitchain comes with a command line interface and a dashboard to connect data,
                  submit and create data science projects, and deploy machine learning models within
                  secure execution environments
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <img class="full-width" src="/img/ml-libs.svg" width="95%">
              </div>
              <div class="col-lg-6 padded ">
                <h3 class="section-subheading text-muted  large-text">
                  Fitchain supports the most flexible and powerful machine learning libraries to allow data
                  scientists write their models in the most comfortable way
                </h3>
              </div>
            </div>
      </div>
</section>
<section class="bg-light-gray">
      <div class="container ">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading">Decentralized Private Machine learning </h1>
              <h3 class="section-subheading text-muted large-text">
                Unlock the power of your data. Decentralize machine learning.
              </h3>

            <a href="/#contact" class="page-scroll btn btn-rounded">Request a demo</a>
          </div>
        </div>
      </div>

    </section>
