<!--
<section id="overview">
  <div class="container">
      <div class="row">
      </div>
    </div>

</section>
-->


<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is {{site.title}}?</h3>
                    <h3 class="section-subheading">
                      With fitchain data scientists
                      can train <br /> machine learning models on isolated data, <br />
                      and certify them on the blockchain. <br />
                      Discover how fitchain can help your organization.</h3><br />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-hospital-o  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">Healthcare Providers</h3>
                    <h3 class="section-subheading">
                      In healthcare and pharma, data analytics is more and more a prominent activity where
                      data can carry industrial secrets and sensitive information. With fitchain, data never moves and
                      stays private.
                    </h3>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">Banking Services</h3>
                      <h3 class="section-subheading">Banks and financial institutions are highly regulated environments in which
                      maintaining ownership of the data to be analysed is essential to the business. Fitchain allows
                      machine learning on data that you will always own.
                    </h3>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-flask  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">Researchers</h3>
                      <h3 class="section-subheading">
                        Data scientists are constantly in search of fresh data to train and improve
                      experimental models. Fitchain allows scientists to compute models over data that is otherwise not
                      available if not in de-identified or encrypted form</h3>
                </div>
            </div>
        </div>
    </section>
