<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                  <h3 class="section-heading">You are here because you want confidentiality </h3>
                  <h4>And we understand</h4>
                  <div class="divider"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">

                <!-- terminal -->
                <div id="window">
     	<div id="toolbar">
    		<div class="top">
    			<div id="lights">
    				<div class="light red">
    					<div class="glyph">×</div>
    					<div class="shine"></div>
    					<div class="glow"></div>
    				</div>
    				<div class="light yellow">
    					<div class="glyph">-</div>
    					<div class="shine"></div>
    					<div class="glow"></div>
    				</div>
    				<div class="light green">
    					<div class="glyph">+</div>
    					<div class="shine"></div>
    					<div class="glow"></div>
    				</div>
    			</div>
    			<div id="title">
    				<div class="folder">
    					<div class="tab"></div>
    					<div class="body"></div>
    				</div>
    				bount.ai
    			</div>
    			<div id="bubble">
    				<div class="shine"></div>
    				<div class="glow"></div>
    			</div>
    		</div>
    	</div>
    	<div id="body">
    		<p>
          Welcome to fitchain-CLI <br />
          user@127.0.0.1:~$ fitchain workspace init --name my_workspace rJmdwXeLm <br />
          user@127.0.0.1:~$ fitchain workspace save <br />
          user@127.0.0.1:~$ fitchain workspace run <br />
          <div class="cursor"></div>
     </p>

    	</div>
</div>

              </div>
                <div class="col-lg-6">
                  <h3 class="section-subheading text-muted">
                    Many organizations lack dedicated teams of data scientists to tackle their business challenges.
                    Outsourcing analytics can be risky when data must stay private. <br />
                    Encryption and obfuscation are not always practical solutions for computationally complex tasks
                    like training machine learning models
                  </h3>

                    <h3 class="section-heading">Data description</h3>
                    <h3 class="section-subheading text-muted">
                      Fitchain allows organizations to publish their business challenges and connect to data scientists
                      who effectively work on a solution
                    </h3>

                    <h3 class="section-heading">Data isolation</h3>
                    <h3 class="section-subheading text-muted">
                      Machine learning models are trained within the organization so that data stays isolated,
                      private and protected at the source
                    </h3>

                    <h3 class="section-heading">Model identity</h3>
                    <h3 class="section-subheading text-muted">
                      Trained models are uniquely identified with cryptographic proofs on public or permissible
                      blockchain ledgers
                    </h3>

                    <h3 class="section-heading">Model sharing</h3>
                    <h3 class="section-subheading text-muted">
                      Trained models can be shared and traded in the marketplace via an easy-to-use searchable
                      dashboard or command line interface connected to a cryptocurrency wallet.

                      
                      <!--
                      We support the most flexible and powerful machine learning libraries to allow data
                      scientists write their models in the language they are most comfortable with.
                      The current fitchain protocol has been developed on top of Ethereum and BigchainDB,
                      for public and federated blockchains.
                      The fitchain pod that connects data owners to machine learning models, is an
                      enterprise-ready, robust and adaptable component for automated machine learning model
                      execution
                    -->

                </div>

            </div>


                  <div class="row">
                      <div class="text-center">
                        <div class="has-text-centered">
                        <img src="img/app-mockup.png" width="80%">
                        </div>
                      </div>
                  </div>

                  <div class="row" id="community">
                      <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h1>One platform</h1>
                              <h4>To decentralize Them All</h4>
                              <a href="https://github.com/fitchain" class="page-scroll btn btn-rounded">Get Started</a>
                    </div>


        </div>
    </section>
